*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

/* HEADER */
header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}

header nav{
    font-size: 12px;
    margin-left: 20px;
    display: none;
    justify-content: space-between;
   }

header ul {
    display: flex;
    justify-content: space-around;
}
header ul li{
    list-style-type: none;
    padding: 5px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form{
    display: flex;
    align-items: center;
    padding: 0 20px;
    
}

form.buscar {
    border: solid black 1px;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

/* MAIN */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}


main.login {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

main.login form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    
}

.login input {
    padding: 10px;
    width: 40vw;
    border-radius: 5px;
    border: none;
    margin: 15px;
}

main.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 40vw;
    margin-top: 10px;
    
}

section.registerform {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.registerform input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 30vw;
}
section.registerform .birth-date {
    align-self: flex-start ;
    font-weight: bold;
    margin-left: 25px;
}

 section .profile {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

 }

 section .profile input , label {
    padding: 0 20px;
    
 }
 
 h4.user_profile {
   display: flex;
   justify-content: flex-start;
  margin-left: 60px;
}

  section h4 {
    display: flex;
    align-self: flex-start;
  }
 section.interests {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 50px;
 }

 section.interests div {
    padding: 10px;
    text-align: left;
    align-items: flex-start;
 }

 div.avatar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 60px;
 }

 div.avatar input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 30vw;
    margin-bottom: 10px;
 }

 section.password div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
 }

 section.password input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 30vw;
    margin-bottom: 10px;
 }

 input.button {
     padding: 10px; 
     border: none;
     border-radius: 5px; 
     width: 10vw;
     color: white; 
     background-color: #03264C;
     margin: 0 10px;

 }

 main.login input.button {
    width: 40vw;
    margin-bottom: 15px;

 }

  input.button:hover {
    background-color: #1259c3;
}
.register input:focus, .login input:focus {
    background: rgb(240, 243, 245);
    border:1px solid #1259c3; 
}
 

/* FOOTER */

footer{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 30px;
    background-color: white;
}

 .footer {
     margin-bottom: 30px;
     }

 .footer_title {
     font-size: 16px;
 }

 .footer_text {
     font-size: 12px;
    }

    .footer_icon {
        font-size: 2em;
        line-height: 10px;
        color: #03264C;
        margin-bottom: 10px;
    }

    .footer_icon:hover {
        color:#0044AA;
    }

    .copyright {
        text-align: left;
    }


@media (min-width: 361px){

    /* HEADER */
        div.top-header{
            display: flex;
            flex-wrap: wrap;
            padding: 5%;
            justify-content: space-around;
        }
        
    header div.logo,
    header .form{
        width: 30%;
    }
    
    header .cuotas{
        width: 30%;
    }
    
        header nav{ 
            display: flex;
        }
    
        div.burger-menu{
            display: none;
        }
    
    
    
    /* MAIN */
        main section article .description{
            display: block;
        }
    
        main section article{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
    
        main section div.products{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
        }
        
        main section div.products article{
            width: 45%;
        }
    
        .price,
        .discount{
            width: 50%;
        }
        
        /* FOOTER */


        footer section.footer {
            display: flex;
        }
    }
    
    @media (min-width: 769px){
        main section div.products article{
            width: 22%;
        }
    }
    